body {
  font-size: 16px;
  font-family: "Mulish", sans-serif;
  margin: 0;
  display: flex;
  justify-content: center;
}

select {
  -o-appearance: none;
  -ms-appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

select::-ms-expand {
  display: none;
}

h2 {
  font-size: 28px;
  font-weight: 800;
}

.delivery {
  max-width: 550px;
  margin: 39px 22px 38px 22px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.progress-bar {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

.progress-bar__step {
  list-style: none;
  display: inline-block;
  color: #979797;
  position: relative;
}

.progress-bar__step::after {
  border-bottom: 1px solid #979797;
  position: absolute;
  left: 23px;
  top: -20px;
  content: "";
  width: calc(600px / 4);
  height: 44px;
  z-index: -1;
}

@media (max-width: 700px) {
  .progress-bar__step::after {
    width: calc(100vw / 4);
  }
}

.progress-bar__step:last-child::after {
  content: none;
  border: none;
}

.progress-bar__step--completed::after {
  border-color: #ff6900;
}

.progress-bar__step-identifier {
  border: 0.8px solid #979797;
  border-radius: 50%;
  height: 44px;
  width: 44px;
  text-align: center;
  line-height: 44px;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 9px;
  background-color: white;
}

.progress-bar__step-identifier img {
  padding-top: 10px;
}

.progress-bar__step--active .progress-bar__step-identifier,
.progress-bar__step--completed .progress-bar__step-identifier {
  border: 0.8px solid #ff6900;
}

.progress-bar__step--active .progress-bar__step-name,
.progress-bar__step--completed .progress-bar__step-name {
  font-weight: bold;
  color: #ff6900;
}

.progress-bar__step--active .progress-bar__step-identifier {
  background-color: #ff6900;
  color: white;
}

.progress-bar__step-name {
  font-size: 12px;
  font-weight: 600;
  text-align: center;
}

.address__header {
  text-align: center;
}

.address-type {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.address-type__option {
  width: 147px;
  margin-right: 10px;
  margin-left: 10px;
}

.address-type__radio {
  width: 147px;
  height: 147px;
  border: solid 1px black;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.address-type__radio--checked {
  border: 1px solid white;
  background-color: #ff6900;
  color: white;
}

.address-type__option label {
  font-size: 18px;
  font-weight: 800;
  width: 90px;
  text-align: center;
}

.address-type__description {
  font-size: 14px;
  width: 170px;
}

.delivery__field {
  position: relative;
  min-width: 335px;
  display: flex;
  flex-direction: column;
  margin-bottom: 13px;
  margin-top: 38px;
}

.delivery__input {
  height: 50px;
  padding: 15px 0 15px 11px;
  border-radius: 2px;
  border: solid 1px #c8c8c8;
  font-size: 16px;
  background: white;
}

.delivery__dropdown-arrow {
  height: 8px;
  width: 12px;
  position: absolute;
  right: 15px;
  top: 54px;
}

.delivery__field label {
  font-size: 18px;
  font-weight: 800;
  margin-bottom: 9px;
}

.address-lookup__manual-link {
  color: #ff6900;
  text-decoration: none;
  font-size: 14px;
  margin-top: 9px;
}
